<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddd.ClerkMapper">

    <!---->
    <resultMap id="resultMap5" type="com.uuu.Clerk">
        <id property="id" column="id"></id>
        <result property="clerkName" column="clerk_name"></result>
    </resultMap>
    <select id="getClerk" resultMap="resultMap5">
        select id, clerk_name
        from mybatis_return_clerk
        where shop_id = #{id}
    </select>


</mapper>